@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root{
    --headline-large-font-style: normal;
    --headline-large-font-weight: 600;
    --headline-large-font-size: 36px;
    --headline-large-line-height: 40px;
    --headline-large-font-family: Poppins;

    --headline-large: var(--headline-large-font-style) var(--headline-large-font-weight) var(--headline-large-font-size)/var(--headline-large-line-height) var(--headline-large-font-family);
       

    --headline-medium-font-style: normal;
    --headline-medium-font-weight: 600;
    --headline-medium-font-size: 32px;
    --headline-medium-line-height: 36px; 
    --headline-medium-font-family: Poppins;

    --headline-medium: var(--headline-medium-font-style) var(--headline-medium-font-weight) var(--headline-medium-font-size)/var(--headline-medium-line-height) var(--headline-medium-font-family); 


    --headline-small-font-style: normal;
    --headline-small-font-weight: 600;
    --headline-small-font-size: 28px;
    --headline-small-line-height: 32px; 
    --headline-small-font-family: Poppins;

    --headline-small: var(--headline-small-font-style) var(--headline-small-font-weight) var(--headline-small-font-size)/var(--headline-small-line-height) var(--headline-small-font-family); 


    --title-large-font-style: normal;
    --title-large-font-weight: 500;
    --title-large-font-size: 22px;
    --title-large-line-height: 28px; 
    --title-large-font-family: Roboto;

    --title-large: var(--title-large-font-style) var(--title-large-font-weight) var(--title-large-font-size)/var(--title-large-line-height) var(--title-large-font-family); 


  
    --title-medium-font-style: normal;
    --title-medium-font-weight: 500;
    --title-medium-font-size: 16px;
    --title-medium-line-height: 24px; 
    --title-medium-font-family: Roboto;

    --title-medium: var(--title-medium-font-style) var(--title-medium-font-weight) var(--title-medium-font-size)/var(--title-medium-line-height) var(--title-medium-font-family); 


  
    --title-small-font-style: normal;
    --title-small-font-weight: 500;
    --title-small-font-size: 14px;
    --title-small-line-height: 20px; 
    --title-small-font-family: Roboto;

    --title-small: var(--title-small-font-style) var(--title-small-font-weight) var(--title-small-font-size)/var(--title-small-line-height) var(--title-small-font-family); 


    
    --label-large-font-style: normal;
    --label-large-font-weight: 500;
    --label-large-font-size: 14px;
    --label-large-line-height: 20px; 
    --label-large-font-family: Roboto;

    --label-large: var(--label-large-font-style) var(--label-large-font-weight) var(--label-large-font-size)/var(--label-large-line-height) var(--label-large-font-family); 


    --body-large-font-style: normal;
    --body-large-font-weight: 400;
    --body-large-font-size: 16px;
    --body-large-line-height: 22px; 
    --body-large-font-family: Roboto;

    --body-large: var(--body-large-font-style) var(--body-large-font-weight) var(--body-large-font-size)/var(--body-large-line-height) var(--body-large-font-family); 


 
    --body-medium-font-style: normal;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 14px;
    --body-medium-line-height: 20px; 
    --body-medium-font-family: Roboto;

    --body-medium: var(--body-medium-font-style) var(--body-medium-font-weight) var(--body-medium-font-size)/var(--body-medium-line-height) var(--body-medium-font-family); 


 
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-font-size: 13px;
    --body-small-line-height: 17px; 
    --body-small-font-family: Roboto;

    --body-small: var(--body-small-font-style) var(--body-small-font-weight) var(--body-small-font-size)/var(--body-small-line-height) var(--body-small-font-family); 


 
}